$screen-desktop-lg-min: 1200px;
$screen-desktop-min: 992px;
$screen-tablet-min: 768px;
$screen-phone-lg-min: 426px;

$black: #000000;
$lightRed: #EF3E42;
$darkRed: #ED1F45;
$darkGrey: #272727;
$white: #FFFFFF;
$grey: #777777;
$lightGrey: #9B9B9B;
$lighterGrey: #d1d1d1;
$purple: #BA59E5;
$lightPurple: #c776ea;
$lighterPurple: #BD83D7;
